


div.output{
    border: 1px solid #7a7c7f;
}

div.output p {
    margin: 0;
    color: #7a7c7f;
    font-size: 29px;
    font-family: "Libre Baskerville", serif;
    line-height: 45px;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
    padding-top: 20px;
}